body {
    font-family: monospace;
    background-color: whitesmoke;
}

#Minhafoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

 #Meunome {
    text-align: center;
 }

 #Coratras {
    background-color: gray;
 }

 #Meunome {
    font-style: italic;
 }

 #final {
    background-color: gray;
    color: whitesmoke;
    font-size: 2em;
 }
