body {
    font-family: monospace;
    background-color: whitesmoke;
}

#Minhafoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

 #Meunome {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }

 #Coratras {
    background-color: gray;
 }

 #Meunome {
    font-style: italic;
 }

.Habilidades {
    font-size: medium;
}

 #final {
    background-color: gray;
    color: whitesmoke;
    font-size: 2em;
 }

 a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
    font-style: italic;
 }

 #Blog {
    font-weight: bold;
 }
 