body {
    font-family: monospace;
    background-color: whitesmoke;
}

#Minhafoto {
   float: left;
   padding: 20px;
}

 #Meunome {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
 }

#descrisao {
   margin-left: auto;
   margin-right: auto;
   position: absolute;
   border: 5px solid black;
   padding: 10px;
}

.Habilidades ul li:nth-child(odd){
   font-style: italic;
}

 a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
    font-style: italic;
 }

 #Blog p {
   font-size: large;
    font-weight: bold;
 }
 